@model List<Products>

@{
	Layout = null;
}

<head>
	<link rel="stylesheet" href="~/css/style.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<style>
		body {
			margin: 0;
			padding: 0;
		}
		.navigation {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1rem;
			background-color: #1D1E2C;
			color: white;
		}

		.navigation-icons {
			display: flex;
			align-items: center;
			padding: 0.5rem;
		}

			.navigation-icons i {
				font-size: 1.5rem;
				margin: 0 1rem;
				cursor: pointer;
			}

		.settings-dropdown {
			position: relative;
		}

			.settings-dropdown select {
				padding: 0.5rem;
				border: none;
				border-radius: 5px;
				background-color: #f2f2f2;
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				cursor: pointer;
			}

		.table-users .header {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.table-products .header {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.header-title {
			flex: 1; 
			text-align: center;
		}
	</style>
</head>

<div class="navigation">
	<div class="navigation-icons">
		<a asp-area="" asp-controller="Shop" asp-action="Index"><b>Online Shop</b></a>
		<i class="fas fa-cog"></i>
	</div>
	
</div>

<div class="table-products">
    <div class="header">
		<input type="text" id="productSearch" placeholder="Search products">
		<div class="header-title">Products</div>
	</div>
    <table cellspacing="0">
        <tr>
			<th> <a href="@Url.Action("AdminPage", "Admin", new { area = "Admin", sortOrder = ViewData["TitleSortParam"] })" style="display:flex;justify-content:center">Title</a></th>
			<th> <a href="@Url.Action("AdminPage", "Admin", new { area = "Admin", sortOrder = ViewData["PriceSortParam"] })" style="display:flex;justify-content:center">Price</a></th>
			<th> <a href="@Url.Action("AdminPage", "Admin", new { area = "Admin", sortOrder = ViewData["BrandSortParam"] })" style="display:flex;justify-content:center">Brand</a></th>
			<th> <a href="@Url.Action("AdminPage", "Admin", new { area = "Admin", sortOrder = ViewData["CategorySortParam"] })" style="display:flex;justify-content:center">Category</a></th>
			<th><a style="display:flex;justify-content:center" href="/Foradmin/Admin/AddProduct">Add</a></th>
			<th><span style="display:flex;justify-content:center">Edit</span></th>
			<th><span style="display:flex;justify-content:center">Delete</span></th>
        </tr>
		@foreach(var products in Model)
		{
			<tr>
				<td><span style="display:flex;justify-content:center">@products.Title</span></td>
				<td><span style="display:flex;justify-content:center">@products.Price</span></td>
				<td><span style="display:flex;justify-content:center">@products.brand.Name</span></td>
				<td><span style="display:flex;justify-content:center">@products.category.Name</span></td>
				<td><a class="btn btn-warning" style="display:flex;justify-content:center" href="/foradmin/Admin/AddProduct" >Add</a></td>
				<td><a class="btn btn-warning" style="display:flex;justify-content:center" href="@Url.Action("EditProduct"  ,"Admin", new { area = "Admin",  id = products.Id })">Edit</a></td>
				<td><a class="btn btn-warning" style="display:flex;justify-content:center" href="@Url.Action("DeleteProduct","Admin", new { area = "Admin" , id = products.Id })">Delete</a></td>
			</tr>
		}
    </table>
</div>


<div class="table-users">
	<div class="header">
		<input type="text" id="userSearch" class="d-flex" placeholder="Search users">
		<div class="header-title">Users</div>
	</div>
	<table cellspacing="0">
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>Phone Numbers</th>
			<th>Lock user</th>
		</tr>
		@foreach (var user in ViewBag.Users)
		{
			<tr>
				<td><span style="display:flex;justify-content:center">@user.Id</span></td>
				<td><span style="display:flex;justify-content:center">@user.UserName</span></td>
				<td><span style="display:flex;justify-content:center">@user.PhoneNumber</span></td>
				<td>
					@if (user.LockoutEnabled)
					{
						<a class="btn btn-danger" style="display:flex;justify-content:center" href="@Url.Action("LockUser", "Admin", new { area = "Admin", id = user.Id })">Lock</a>
					}
					else
					{
						<a class="btn btn-success" style="display:flex;justify-content:center" href="@Url.Action("UnlockUser", "Admin", new { area = "Admin", id = user.Id })">Unlock</a>
					}
				</td>
			</tr>
		}
	</table>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(document).ready(function () {
		$("#productSearch").on("input", function () {
			var input = $(this).val().toLowerCase();
			$(".table-products table tr").each(function () {
				var rowText = $(this).text().toLowerCase();
				$(this).toggle(rowText.indexOf(input) > -1);
			});
		});

		$("#userSearch").on("input", function () {
			var input = $(this).val().toLowerCase();
			$(".table-users table tr").each(function () {
				var rowText = $(this).text().toLowerCase();
				$(this).toggle(rowText.indexOf(input) > -1);
			});
		});
	});
</script>

