@model List<CartItem>

<link rel="stylesheet" href="~/css/site.css" />
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <form asp-controller="Shop" asp-action="BuyProduct" method="post">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Your Cart Products</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                </div>
                <div class="modal-body">
                    @if (Model.Count == 0)
                    {
                        <p>You have no products in carts.</p>
                    }
                    else
                    {
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Price</th>
                                        <th>Count</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var product in Model)
                                    {
                                        <input type="hidden" name="id" value="@product.Product.Id" />
                                        <tr>
                                            <td><a href="@Url.Action("Info","Shop",new { id = product.Product.Id})">@product.Product.Title</a></td>
                                            <td>@(product.Product.Price * product.Quantity)</td>
                                            <td>
                                                <div class="input-group">
                                                    <button class="btn btn-sm btn-secondary minus-button" data-product-id="@product.Product.Id">-</button>
                                                    <input type="number" name="productCounts[@product.Product.Id]" class="form-control quantity-input" style="width: 40px;" />
                                                    <button class="btn btn-sm btn-secondary plus-button" data-product-id="@product.Product.Id">+</button>
                                                </div>
                                            </td>
                                            <td><button class="btn btn-sm btn-danger remove-from-cart-button" data-product-id="@product.Product.Id">Remove</button></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="total-price">
                                Total Price: @Model.Sum(product => product.Product.Price * product.Quantity)
                            </div>
                        </div>
                    }
                </div>
                <div class="modal-overlay"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                        <button type="submit" class="btn btn-primary">Buy</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {

        checkAndToggleBuyButton();
        $(".minus-button, .plus-button").on("click", function () {
            var inputField = $(this).closest(".input-group").find(".quantity-input");
            var currentValue = parseInt(inputField.val());
            var increment = $(this).hasClass("minus-button") ? -1 : 1;

            if (currentValue + increment >= 0) {
                inputField.val(currentValue + increment);
                inputField.trigger("change"); 

                var productCountField = inputField.closest("tr").find("[name='productCount']");
                productCountField.val(currentValue + increment);
            }
        });

        $(".quantity-input").on("input", function () {
            updateTotalPrice();
        });

        $(".remove-from-cart-button").click(function (event) {
            event.preventDefault(); // Prevent the default behavior of the button click

            var productId = $(this).data("product-id");
            var rowToRemove = $(this).closest("tr");

            $.post("/Shop/RemoveFromCart", { id: productId }, function (data) {
                if (data) {
                    rowToRemove.remove();
                    updateTotalPrice();

                    var modalBody = $("#myModal .table tbody");
                    if (modalBody.children().length === 0) {
                        $(".modal-footer .btn-primary").attr("disabled", "disabled");
                        modalBody.html("<tr><td colspan='4'>There are no products in your cart</td></tr>");
                        updateTotalPrice();
                        $('#myModal').modal('hide');
                    }
                    else {
                        $(".modal-footer .btn-primary").removeAttr("disabled");
                    }
                }
            });
        });
        

        function updateTotalPrice() {
            var total = 0;
            $(".quantity-input").each(function () {
                var quantity = parseInt($(this).val());
                var price = parseFloat($(this).closest("tr").find("td:eq(1)").text());
                var subtotal = quantity * price;
                total += subtotal;
            });

            $(".total-price").text("Total Price: " + total);
        }


        function checkAndToggleBuyButton() {
            var modalBody = $("#myModal .table tbody");
            var buyButton = $(".modal-footer .btn-primary");

            if (modalBody.children().length === 0) {
                buyButton.attr("disabled", "disabled");
            } else {
                buyButton.removeAttr("disabled");
            }
        }

    });
</script>