@model List<CartItem>

<link rel="stylesheet" href="~/css/site.css" />
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Your Cart Products</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                @if (Model.Count == 0)
                {
                    <p>You have no products in carts.</p>
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Price</th>
                                    <th>Count</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model)
                                {
                                    <tr>
                                        <td><a href="@Url.Action("Info","Shop",new { id = product.Product.Id})">@product.Product.Title</a></td>
                                        <td>@(product.Product.Price * product.Quantity)</td>
                                        <td>
                                            <div class="input-group">
                                                <button class="btn btn-sm btn-secondary minus-button" data-product-id="@product.Product.Id">-</button>
                                                <input type="text" style="width:10px;" class="form-control quantity-input" value="@product.Quantity" data-product-id="@product.Product.Id">
                                                <button class="btn btn-sm btn-secondary plus-button" data-product-id="@product.Product.Id">+</button>
                                            </div>
                                        </td>
                                        <td><button class="btn btn-sm btn-danger remove-from-cart-button" data-product-id="@product.Product.Id">Remove</button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="total-price">
                            Total Price: @Model.Sum(product => product.Product.Price * product.Quantity)
                        </div>
                    </div>
                }
            </div>
            <div class="modal-overlay"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                <button type="button" class="btn btn-primary">Buy</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $(".plus-button").click(function () {
            var productId = $(this).data("product-id");
            var input = $("input[data-product-id='" + productId + "']");
            var currentValue = parseInt(input.val());

            input.val(currentValue + 1);
            updateTotalPrice();
        });

        $(".minus-button").click(function () {
            var productId = $(this).data("product-id");
            var input = $("input[data-product-id='" + productId + "']");
            var currentValue = parseInt(input.val());
            if (currentValue > 1) {
                input.val(currentValue - 1);
                updateTotalPrice();
            }
        });

        $(".quantity-input").on("input", function () {
            updateTotalPrice();
        });

        $(".remove-from-cart-button").click(function () {
            var productId = $(this).data("product-id");
            var modalBody = $("#myModal .modal-body"); 

            $.post("/Shop/RemoveFromCart", { id: productId }, function (data) {
                if (data) {
                    modalBody.html(data); 
                    updateTotalPrice(); 
                }
            });
        });

        function updateTotalPrice() {
            var total = 0;
            $(".quantity-input").each(function () {
                var quantity = parseInt($(this).val());
                var price = parseFloat($(this).closest("tr").find("td:eq(1)").text());
                var subtotal = quantity * price;
                total += subtotal;
            });

            $(".total-price").text("Total Price: " + total);
        }


    });
</script>