@model List<Products>

<div class="productcontainer">
@foreach(var product in Model)
{
    <div class="card" style="width: 18rem;">
        <img src="~/@product.ImageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@product.Title</h5>
            <p class="card-text">@product.Description</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: @product.Price</li>
            <li class="list-group-item">Brand : @product.brand.Name</li>
            <li class="list-group-item">Category : @product.category.Name</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a asp-controller="Shop" asp-action="DeleteProduct" class="card-link">Delete</a>
        </div>
    </div>
}
</div>