@model List<Products>

<div class="productcontainer">
    @foreach(var product in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@((string.IsNullOrEmpty(product.ImageUrl)) ? "/Images/def123.jpg" : product.ImageUrl )"  class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Brand :</b> @product.brand.Name</li>
                <li class="list-group-item"><b>Category :</b> @product.category.Name</li>
                <li class="list-group-item"><b>Price:</b> @product.Price</li>
                <li class="list-group-item">
                    <a class="btn btn-warning" style="width:100%;height:100%;" href="">Add Basket</a>
                </li>
                <li class="list-group-item"> <a class="btn btn-warning" style="width:100%;height:100%;" href="/Shop/Info/@product.Id">INFO</a></li>
            </ul>
        </div>
    }
</div>