@model List<Products>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/mainpage.css">
</head>
<div class="container">
    <div class="row mt-5">
        @foreach(var product in Model)
        {
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#">
                            <img decoding="async" class="pic-1" src="@((string.IsNullOrEmpty(product.ImageUrl)) ? "/Images/def123.jpg" : product.ImageUrl )">
                        </a>
                        <ul class="social">
                            <li><a href="/Shop/Info/@product.Id" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                            <form action="/Shop/AddFavorite" method="post">
                                <input type="hidden" name="id" value="@product.Id" />
                                <li><button type="submit" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></button></li>
                            </form>
                            <form method="post" action="/Shop/AddToCart">
                                <input type="hidden" name="id" value="@product.Id" />
                                <li><button type="submit" class="libtnnw" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></button></li>
                            </form>
                        </ul>
                        <!-- <span class="product-new-label">Sale</span>-->
                        <!--<span class="product-discount-label">20%</span>-->
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star disable"></li>
                    </ul>
                    <div class="product-content">
                        <h3 class="title"><a href="#">@product.Title</a></h3>
                        <div class="price">
                            @product.Price
                        </div>
                        <form method="post" action="/Shop/AddToCart">
                            <input type="hidden" name="id" value="@product.Id" />
                            <button style="background:none;" type="submit" class="add-to-cart">+ Add To Cart</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



